.app-div{
  display: flex;
  flex-direction: column;
}

.body-div{
  display: flex;
  height: 500px;

}

.navbar-div{
  display: flex;
  height: 100px;

}

.navbar-div p{
  margin-left: 10px;

}
.side-body-div{
  display: flex;
  width: 50%;
}

.foot-div{
  height: 75px;
}

div{
  border: 1px solid black;
}
